﻿@{
    Script.Require("AdminViewEditor");
    Layout.Title = T("Theme View Editor");
}

Select a file to edit:
<ul>
@foreach (var file in Model.Files)
{
    <li><a href="/Admin/Dolph.AdminViewEditor/GetFile?fileName=@file" class="ave-file">@file</a></li>
}
</ul>
<br />
<div class="file-editor">  
    <p>Current File: <label class="filename"></label></p>
    <textarea class="file-contents" rows="20">

    </textarea>
    @Html.Hidden("antiforgerytoken", Html.AntiForgeryTokenValueOrchard())
    <button type="submit" class="save-template">Save</button>
</div>